---
import ContactButton from "@components/contact-button";
import DdInfo from "@components/dd-info.astro";
import ProdList from "@components/prod-list";
import ScrollView from "@components/ui/scroll-view.astro";
import Layout from "@layouts/Layout.astro";
import { getDealer } from "db/server";
import { drizzle } from "drizzle-orm/d1";
import * as s from "db/schema";

// @ts-ignore
const { env } = Astro.locals.runtime;
const db = drizzle(env.DB, {
  schema: s,
});
const getDealerBySlug = async (slug: string) => {
  try {
    const entry = await getDealer(db, slug);
    return entry;
  } catch (e) {
    console.log("erorrrrrrrrrrrrrrrrrr");
    console.log(e);
    return null;
  }
};
const { slug } = Astro.params;
if (!slug) return Astro.redirect("/404");
const entry = await getDealerBySlug(slug);
if (!entry) return Astro.redirect("/404");
// const showMapInline = entry.location && entry.contact.length <= 2;
// const showMapBelow = entry.location && entry.contact.length > 2;
---

<Layout title={entry.name} bread={["dealer", entry.name]}>
  <section class="px-2 sm:px-4 md:px-8 py-6">
    <div class="grid grid-cols-2 gap-4 sm:gap-12 md:gap-24 items-start">
      <!-- LEFT: photo -->
      <div class="flex justify-center md:justify-start">
        <img
          src={entry.image || "/imgg.png"}
          alt={entry.name}
          class="w-full max-w-md md:max-w-none aspect-square md:aspect-[4/3] rounded-md object-cover"
        />
      </div>

      <!-- RIGHT: details + contacts + map -->
      <div
        class="flex flex-col justify-between gap-2 sm:gap-3 text-sm sm:text-base">
        <div>
          <p
            class="font-semibold text-base sm:text-sm md:text-2xl lg:text-4xl md:pb-3 pb-1">
            {entry.name}
          </p>
          <p class="sm:text-sm md:text-xl lg:text-3xl justify-center">
            {entry.shopName}
          </p>

          {entry.address && <p class="leading-snug">{entry.address}</p>}
        </div>

        {
          entry.contact.length > 0 && (
            <div class="flex flex-row flex-wrap gap-2 pt-1 sm:text-sm md:text-lg lg:text-xls">
              {entry.contact.map((contact) => (
                <ContactButton contact={contact} />
              ))}
            </div>
          )
        }

        {
          entry.location && (
            <div class="pt-2">
              <iframe
                class="w-[160px] sm:w-[190px] md:w-[220px] lg:w-[300px] aspect-video rounded-md"
                src="https://maps.google.com/maps?q=31.7814258,76.9983784&hl=en&z=14&output=embed"
              />
            </div>
          )
        }
      </div>
    </div>
  </section>

  {
    entry.shopImages && entry.shopImages.length > 0 && (
      <ScrollView class="mx-auto">
        {entry.shopImages.map((image) => (
          <div class="h-[100px] sm:h-[160px] min-w-fit">
            <img src={image} class="rounded-md h-full" loading="lazy" />
          </div>
        ))}
      </ScrollView>
    )
  }

  <ProdList client:load brands={entry.brands} />
</Layout>
