---
import ContactButton from "@components/contact-button";
import DdInfo from "@components/dd-info.astro";
import ProdList from "@components/prod-list";
import ScrollView from "@components/ui/scroll-view.astro";
import Layout from "@layouts/Layout.astro";
import { getDealer } from "db/server";
import { drizzle } from "drizzle-orm/d1";
import * as s from "db/schema";

// @ts-ignore
const { env } = Astro.locals.runtime;
const db = drizzle(env.DB, {
  schema: s,
});
const getDealerBySlug = async (slug: string) => {
  try {
    const entry = await getDealer(db, slug);
    return entry;
  } catch (e) {
    console.log("erorrrrrrrrrrrrrrrrrr");
    console.log(e);
    return null;
  }
};
const { slug } = Astro.params;
if (!slug) return Astro.redirect("/404");
const entry = await getDealerBySlug(slug);
if (!entry) return Astro.redirect("/404");
// const showMapInline = entry.location && entry.contact.length <= 2;
// const showMapBelow = entry.location && entry.contact.length > 2;
---

<Layout title={entry.name} bread={["dealer", entry.name]}>
  <DdInfo name={entry.name} image={entry.image}>
    <div class="space-y-2 sm:space-y-4">
      <p class="text-base sm:text-lg">
        <span class="font-bold">Name:</span>
        {entry.shopName}
      </p>

      {
        entry.address && (
          <p class="text-base sm:text-lg">
            <span class="font-bold">Address:</span> {entry.address}
          </p>
        )
      }

      {
        entry.contact.length > 0 && (
          <div class="flex flex-row flex-wrap gap-3 pt-2">
            {entry.contact.map((contact) => (
              <ContactButton size="large" contact={contact} />
            ))}
          </div>
        )
      }

      {
        entry.location && (
          <div class="pt-4 sm:pt-6 flex justify-start">
            <iframe
              class="w-[220px] sm:w-[260px] md:w-[300px] aspect-video rounded-md"
              src="https://maps.google.com/maps?q=31.7814258,76.9983784&hl=en&z=14&output=embed"
            />
          </div>
        )
      }
    </div>
  </DdInfo>

  <!-- {
    showMapBelow && (
      <div class="w-full px-4 sm:px-8 md:px-14 pt-4 sm:pt-6">
        <iframe
          class="w-full h-[200px] sm:h-[220px] md:h-[260px]"
          src="https://maps.google.com/maps?q=31.7814258,76.9983784&hl=en&z=14&output=embed"
        />
      </div>
    )
  } -->

  {
    entry.shopImages && entry.shopImages.length > 0 && (
      <ScrollView class="mx-auto">
        {entry.shopImages.map((image) => (
          <div class="h-[100px] sm:h-[160px] min-w-fit">
            <img src={image} class="rounded-md h-full" loading="lazy" />
          </div>
        ))}
      </ScrollView>
    )
  }

  <ProdList client:load brands={entry.brands} />
</Layout>
