---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource-variable/space-grotesk";
import Breadcrumbs from "@components/Breadcrumbs.astro";
import "../styles/globals.css";
import { Toaster } from "@components/ui/toaster";
export interface Props {
  title: string;
  bread?: string[];
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();
const user = Astro.locals.user || null;
const path = new URL(Astro.request.url).pathname;

const resolvedImageWithDomain = new URL(
  "/opengraph.jpg",
  Astro.site
).toString();

const { title, bread = [] } = Astro.props;
const makeTitle = title ? title + " | " + "UETA" : "UETA";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="
      icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- <link rel="preload" as="image" href={src} alt="Hero" /> -->
    <SEO
      title={makeTitle}
      description="Astroship is a starter website template for Astro built with TailwindCSS."
      canonical={canonicalURL}
      twitter={{
        creator: "@surjithctly",
        site: "@web3templates",
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: `Astroship - Starter Template for Astro`,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "Astroship Homepage Screenshot",
        },
      }}
    />
  </head>
  <body class="min-h-screen w-full flex flex-col">
    <Navbar />
    <main class="w-full flex-1">
      <!-- <Breadcrumbs bread={bread} /> -->
      <slot />
    </main>
    <Footer />
    <Toaster client:idle />
  </body>
</html>
